.trainer-container.aspect-ratio--object, .class-container.aspect-ratio--object {
  z-index: 0;
}

.trainer-card .aspect-ratio {
  height: auto;
}

.trainer-img-div.aspect-ratio--1x1, .class-container.aspect-ratio--1x1, .studio-card .aspect-ratio--16x9,
.trainer-card.aspect-ratio--1x1, .class-card.aspect-ratio--1x1, .method-logo-div.aspect-ratio--16x9 {
  padding-bottom: 0%;
}

.method-logo-div.aspect-ratio {
  height: 128px;
  position: unset;
}

.studio-card .aspect-ratio {
  height: 200px;
  position: unset;
}

.aspect-ratio--object.single-class {
  width: 85%;
  height: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
