.class-explore-overlay {
  background-color: rgba(277,277,277,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.class-card-text p:empty:before {
    content: "​test";
    display: none;
}
